<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFKfc_001xAkN4Z9Z9ETpWg8XGEULnHUo</string>
	<key>GCM_SENDER_ID</key>
	<string>573273331716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.getContacts.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>event-cree</string>
	<key>STORAGE_BUCKET</key>
	<string>event-cree.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573273331716:ios:a959bf7258f3ce3bd4bd51</string>
</dict>
</plist>